# This file is for unifying the coding style for different editors and IDEs
# See editorconfig.org

root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 120

[*.kt]
ij_continuation_indent_size = 4
ij_java_align_multiline_annotation_parameters = true
ij_java_align_multiline_binary_operation = true
ij_java_align_multiline_parameters = false
ij_java_align_multiline_text_blocks = true
ij_java_annotation_parameter_wrap = on_every_item
ij_java_array_initializer_new_line_after_left_brace = true
ij_java_array_initializer_right_brace_on_new_line = true
ij_java_array_initializer_wrap = on_every_item
ij_java_binary_operation_wrap = on_every_item
ij_java_call_parameters_wrap = on_every_item
ij_java_class_count_to_use_import_on_demand = 5
ij_java_enum_constants_wrap = split_into_lines
ij_java_imports_layout = *, |, javax.**, java.**, |, $*
ij_java_keep_line_breaks = false
ij_java_method_call_chain_wrap = on_every_item
ij_java_method_parameters_wrap = normal
ij_java_names_count_to_use_import_on_demand = 3
ij_java_space_before_array_initializer_left_brace = true
ij_java_spaces_within_array_initializer_braces = true

[{*.markdown,*.md}]
ij_markdown_keep_line_breaks_inside_text_blocks = false

[{docs/monitoring/dashboards/**,docs/postman/**}]
ij_formatter_enabled = false
